extends layout

block content
  h1= title
  p Welcome to #{title}
  select#source
    option(value='') Select Source
    each route in routes
      option(value=route.source) #{route.source}
  select#destination
    option(value='') Select Destination
    each route in routes
      option(value=route.destination) #{route.destination}
